[mysqld]
binlog_cache_size = 4k
character-set-server = utf8
collation-server = utf8_general_ci
datadir = /var/lib/mysql
explicit_defaults_for_timestamp = 1
innodb_buffer_pool_size = 8M
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 256k
innodb_log_file_size = 1M
join_buffer_size = 128
key_buffer_size = 8
query_cache_size = 0
read_buffer_size = 8200
read_rnd_buffer_size = 1
skip-performance_schema
socket = /var/lib/mysql/mysql.sock
sort_buffer_size = 32k
symbolic-links = 0
tmp_table_size = 1k
user = mysql

[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid

[client]
default-character-set = utf8
